# General
.idea/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
doc/
.vscode/
test/

# Flutter/Dart specific
**/.generated/
**/flutter_export_environment.sh
**/.DS_Store
**/Flutter.framework/
**/Flutter.podspec
**/Generated.xcconfig

# Miscellaneous
**/Thumbs.db
**/UserInterfaceState.xcuserstate

/example/.dart_tool/
/example/.flutter-plugins
/example/.flutter-plugins-dependencies
/example/.metadata
/example/.pub/
/example/build/
/example/.idea/
/example/ios
/example/windows
/example/android